html, body {
	font-family: Open Sans;
}



div#main {
  margin: auto;
  width: 500px;
  padding: 10px;
}

div#track-wrapper {
 margin: 0 auto;
}

div#track-name {
  text-align: center;
}

ul#dialog {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#dialog > li {
	display: flex;
	position: relative;
}

.right {
	justify-content: flex-end;
	text-align: right;
}

.left {
	justify-content: flex-start;
	text-align: left;
}

.right > .speech {
	background-color: #B3E5FC;
}

.left > .speech {
	background-color: #eee;
}

ul#dialog li {
  //opacity: 0;
}
.speech {
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0px;
	position: relative;
}

.speech > p {
	margin: 0px;

}

.icon {
	width: 42px;
	height: 42px;
	display: inline-block;
	margin: 10px;
	border-radius: 5px;
}

.right .icon {
	background: #B3E5FC url("../img/h-bg.png") no-repeat center center;
}

.left .icon {
	background: #eee url("../img/phone-bg.png") no-repeat center center;
}

.arrow {
	height: 10px;
	width: 4px;
	position: absolute;
	top: 16px;
}

.left .arrow {
	background: #eee url("../img/arrow-mask-left.png") no-repeat center center;
	left: -4px;
}

.right .arrow {
	background: #B3E5FC url("../img/arrow-mask-right.png") no-repeat center center;
	right: -4px;
}